form{
    margin-top: 2rem;
    legend{
        display: flex;
        font-family: "baloo 2", cursive;
        font-weight: 600;
        color: #F9F9F9;
        font-size: 1.2rem;
        
        & img{
            margin-right: 0.5rem;
        }
    }
}

fieldset{
    border: none;
    display: grid;
}

.form-container{
    h1{
        color: #F9F9F9;
    }
}

label{
    display: grid;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-body);
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

input, textarea{
    border: none;
    background-color: var(--input-base);
    color:#C8CDD0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;

    &:focus{
        outline: none;
        border: 2px solid #59B2FF;
    }
    &::placeholder{
        color: #777879bb ;
    }
}

.tipo-e-Local-Evento{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .tipo-Evento{
        display: flex;
        gap: 1rem;
        padding: 1rem;
    }
    
    .local{
        display: flex;
    }
}

checkbox{
    display: flex;
    background-color: var(--shape-body);
    border-radius: 15px;
}

.Inicio-Fim{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
}